# PyCharm
.idea

# Environments
.env
.venv
venv

# Cache
__pycache__

# MacOS
.DS_Store

# Coverage
.coverage
static/coverage_report/

# Pytest
.pytest_cache

# mypy
.mypy_cache

# vscode
settings.json